label {
  font-size: $font-size-small;
  display: block;
}

.upper {
  text-transform: capitalize;
}

input,
textarea,
select {
  border: 1px solid rgb(220, 225, 230);
  font-size: $font-size-default;
  border-radius: 3px;
  padding: $s-size;
  margin-bottom: $s-size;
}

.select-narrow {
  @media (min-width: $desktop-breakpoint) {
    width: calc(50% - 10px);
    display: inline;
  }
}

input:not([type="checkbox"]),
textarea,
select {
  width: 100%;
  display: block;
}

textarea {
  // Using !important so the user cannot make textarea input wider/smaller,
  // as this quickly becomes ugly and provides no extra readability.
  // Changing height is allowed
  width: 100% !important;
  height: 10rem;
}

.select-narrow:nth-child(2n + 1) {
  @media (min-width: $desktop-breakpoint) {
    margin-left: 20px;
  }
}
