label {
	font-size: $font-size-small;
}

input, textarea {
	display: block;
	border: 1px solid rgb(220, 225, 230);
	font-size: $font-size-default;
	border-radius: 3px;
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
}

textarea {
	width: 100% !important;
}