// Lots of code here so each image has equal width and height with just css.
// Source https://codepen.io/ItScofield/pen/PNVZoQ

#products-container > a:not(:nth-child(3n+1)) > .product {
  margin-right: $products-margin;
}

.product {
  position: relative;
  width: calc(100% / 3 - 2 / 3 * #{$products-margin});
  height: auto;
  margin-bottom: $products-margin;

  float: left;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.product:before {
  content: "";
  display: block;
  padding-top: 100%;
}
