.userfooter {
	@include gradient3;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: white;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;

	&__content {
		@include content-container;
	}

	a {
		color: white;
	}

	// &:hover {
	// 	@include gradient3-hover;
	// }
}