.dashboard-container {
  // @include content-container;

  height: 100vh;
}

.dashboard {
  .button {
    margin-top: $s-size;
  }

  &__nav {
    background-color: white;
		border-bottom: 1px solid $light-grey-2;
		transition: 0.3s;

    &__content {
			@include dashboard-content-container;
			transition: 0.3s;

      display: flex;
      justify-content: space-around;
    }

    &--item {
      position: relative;
      padding: $s-size;
      top: 1px;
      cursor: pointer;
      transition: 0.3s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid grey;
			}
    }

    &--item-selected {
      border-bottom: 1px solid $dark-grey;

      // Ignore hover effect on selected item
      &:hover {
        border-bottom: 1px solid $dark-grey;
      }
    }
  }

  &__main {
    &__content {
      @include dashboard-content-container;

      overflow: auto;
    }
  }

  &__item {
    background-color: white;
    border: 1px solid $light-grey-2;
    border-radius: 3px;
    padding: $l-size;
    margin: $l-size 0;
    overflow: auto;

    &--noborder {
      border: none;
      border-radius: 0;
    }

    &--green {
      background-color: $light-green;
      border: none;
      color: white;
      font-weight: bold;
		}
		
		h4 {
			padding-bottom: $m-size;
		}
	}
	
	&__resume-wrapper {
		margin: 0 0 $l-size 0;
		box-shadow: 0px 8px 13px -4px rgba(0, 0, 0, 0.75);
		zoom: 1.45;
		width: inherit;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;

		@media (max-width: 57rem) {
			zoom: 1.25;
		}

		@media (max-width: 49rem) {
			zoom: 1.05;
		}

		@media (max-width: 41rem) {
			zoom: 0.85;
		}

		@media (max-width: 33rem) {
			zoom: 0.65;
		}
	}

	&__resume-preview {
		// background-color: $light-grey;
		border: 1px solid $light-grey-2;
		border-radius: 3px;
		margin-bottom: $m-size;
		padding: $m-size;

		&--job-title {
			font-weight: 300;
		}

		&--bio {
			margin: 0;
		}
	}
}
