.dashboard-container {
  // @include content-container;

  height: 100vh;
}

.dashboard {
  a {
    color: blue;
  }

  .button {
    margin-top: $s-size;
  }

  &__nav {
    background-color: white;
    border-bottom: 1px solid $light-grey-2;
    transition: 0.3s;

    &__content {
      @include dashboard-content-container;
      transition: 0.3s;

      display: flex;
      justify-content: space-around;
    }

    &--item {
      position: relative;
      padding: $s-size;
      top: 1px;
      cursor: pointer;
      transition: 0.3s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid grey;
      }
    }

    &--item-selected {
      border-bottom: 1px solid $dark-grey;

      // Ignore hover effect on selected item
      &:hover {
        border-bottom: 1px solid $dark-grey;
      }
    }
  }

  &__main {
    &__content {
      @include dashboard-content-container;

      // overflow: auto;
    }
  }

  &__item {
    background-color: white;
    border: 1px solid $light-grey-2;
    border-radius: 3px;
    padding: $l-size;
    margin: $l-size 0;
    overflow: auto;

    &--noborder {
      border: none;
      border-radius: 0;
    }

    &--green {
      background-color: $light-green;
      border: none;
      color: white;
      font-weight: bold;
    }

    h4 {
      padding-bottom: $m-size;
    }
  }

  &__resume-wrapper {
    margin: 0 0 calc(#{$l-size} * 2) 0;
    box-shadow: 0px 8px 13px -4px rgba(0, 0, 0, 0.75);
    transform-origin: center top;
    transform: scale(.73) perspective(1px);
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: absolute;

    &--noscale {
      // Remove scale transition
      transform: perspective(1px) !important;
    }

    @media (max-width: 912px) {
      transform: scale(0.625) perspective(1px);
    }

    @media (max-width: 784px) {
      transform: scale(0.525) perspective(1px);
    }

    @media (max-width: 656px) {
      transform: scale(0.425) perspective(1px);
    }

    @media (max-width: 528px) {
      transform: scale(0.325) perspective(1px);
    }

    @media (max-width: 464px) {
      transform: scale(0.275) perspective(1px);
    }
  }
}
