.AnotherTemplate .resume {
	$primary: rgb(46, 49, 69);
	$secondary: rgb(239, 241, 245);
	$tertiary: rgb(204, 205, 209);
	$sidebar: 33%;

	&__header {
		background-color: $primary;
		color: white !important;
		z-index: 1 !important; // Prevents PDF rendering bug
	}

	&__item--title-without-value {
		background-color: $primary;
	}

	&__category {
		&--name {
			border-bottom: 1px solid darken($secondary, 10%);
		}
	}

	&__item {
		&--value-box {
			background-color: $primary;

			&--colored {
				background-color: $tertiary;
			}
		}
	}

	&__container {
		&--left {
			background-color: white;
			width: calc(100% - #{$sidebar});
			height: 100%;
		}

		&--right {
			width: $sidebar;
			background-color: $secondary;
			height: 100%; // TODO fix this
		}
	}

	&__contact-info {
		// 	background-color: rgb(239, 240, 241);
		// 	padding: calc(#{$xs-size} * #{$resume-scale});
		// 	height: calc(2.5rem * #{$resume-scale});
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;

		&--title {
			font-weight: bold;
		}

		&__content {
			// 		display: flex;
			// 		justify-content: space-evenly;
		}

		&--item {
			// position: relative;
			// padding: 0 calc(#{$s-size} * #{$resume-scale});
			// display: flex;
			// align-items: center;
			// vertical-align: middle;
			// margin-bottom: calc(1rem * #{$resume-scale});
		}

		&--icon {
			// padding-right: calc(#{$s-size} * #{$resume-scale}) !important;
			// margin-top: calc(-0.15rem * #{$resume-scale}) !important; // beun solution to get the icon aligned with the text
		}
	}
}
