.Classic .resume {
  display: none;
  background-color: red;

  &__item {
    // Put values item boxes left
    &--value {
      text-align: left;
    }

    // Fix margin on value item boxes
    &--value-box {
      margin-left: 0;
      margin-right: 0.25rem;
    }
  }

  &__container {
    padding: 2rem 3rem;
    background-color: white;
  }

  &__header,
  &__header--bio {
    text-align: center;
  }

  &__header--bio {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
  }

  &__contact-info {
    text-align: center;

    &--item {
      padding-bottom: 0;
    }
  }

  &__category--name {
    // Using !important to overwrite the user custom font size (inline style)
    font-size: 1.1rem !important;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}
