.FireRed .resume {
  $primary: rgb(200, 20, 50);
  $secondary: rgb(239, 241, 245);
  $tertiary: rgb(204, 205, 209);
  $sidebar: 50%;

  &__container {
    background-color: white;
    &--left {
      width: calc(100% - #{$sidebar});
    }

    &--right {
      width: $sidebar;
      height: 100%;
    }
  }

  &__item {
    &--value-box {
      background-color: $primary;

      &--colored {
        background-color: $tertiary;
      }
    }
  }

  &__category--name,
  &__contact-info--icon {
    color: $primary;
  }
  &__item--title-without-value {
    background-color: $primary;
  }
  &__header--job-title {
    color: grey;
  }
  &__category {
    &--name {
      text-transform: uppercase;
    }
  }

  &__contact-info {
    background-color: rgb(239, 240, 241);
    padding: 0 calc(#{$xs-size} * #{$resume-scale});
    min-height: calc(2.5rem * #{$resume-scale});
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      display: flex;
      justify-content: space-evenly;
    }

    &--body > a {
      color: $dark-grey;
      text-decoration: underline;
    }

    &--item {
      position: relative;
      padding: 0 calc(#{$s-size} * #{$resume-scale});
      display: flex;
      align-items: center;
      vertical-align: middle;
    }

    &--icon {
      padding-right: calc(#{$s-size} * #{$resume-scale});
      margin-top: calc(
        -0.15rem * #{$resume-scale}
      ); // beun solution to get the icon aligned with the text
    }
  }
}
