.MyTemplate .resume {
	$sidebar: 50%;

	&__container {
		&--left {
			width: calc(100% - #{$sidebar});
		}

		&--right {
			width: $sidebar;
			height: 100%;
		}
	}

	&__category--name,
	&__contact-info--icon {
		color: rgb(62, 207, 142);
	}
	&__item--title-and-value {
		background-color: rgb(62, 207, 142);
	}
	&__header--job-title {
		color: grey;
	}
	&__category {
		&--name {
			text-transform: uppercase;
		}
	}

	&__contact-info {
		background-color: rgb(239, 240, 241);
		padding: calc(#{$xs-size} * #{$resume-scale});
		height: calc(2.5rem * #{$resume-scale});
		display: flex;
		justify-content: center;
		align-items: center;

		&__content {
			display: flex;
			justify-content: space-evenly;
		}

		&--item {
			position: relative;
			padding: 0 calc(#{$s-size} * #{$resume-scale});
			display: flex;
			align-items: center;
			vertical-align: middle;
		}

		&--icon {
			padding-right: calc(#{$s-size} * #{$resume-scale}) !important;
			margin-top: calc(-0.15rem * #{$resume-scale}) !important; // beun solution to get the icon aligned with the text
		}
	}
}
