.NavyBlue .resume {
  $primary: rgb(46, 49, 69);
  $secondary: rgb(239, 241, 245);
  $tertiary: rgb(204, 205, 209);
  $sidebar: 33%;

  &__header {
    background-color: $primary;
    color: white !important;
    z-index: 1 !important; // Prevents PDF rendering bug
  }

  &__item--title-without-value {
    background-color: $primary;
  }

  &__category {
    &--name {
      border-bottom: 1px solid darken($secondary, 10%);
    }
  }

  &__item {
    &--value-box {
      background-color: $primary;

      &--colored {
        background-color: $tertiary;
      }
    }
  }

  &__container {
    &--left {
      background-color: white;
      width: calc(100% - #{$sidebar});
      height: 100%;
    }

    &--right {
      width: $sidebar;
      background-color: $secondary;
      height: 100%;
    }
  }

  &__contact-info {
    &--title {
      font-weight: bold;
    }
  }
}
