@mixin hover {
  cursor: pointer;
	transition: $default-transition-duration;

	// Transform: scale on the resume wrapper creates a blurry effect on hover.
	// These lines prevent that
	backface-visibility: hidden;
	transform: translateZ(0);
	
  &:hover {
		opacity: $hover-opacity;
		// opacity: 0.99;
  }
}
