.button-container {
  display: inline-flex;

  a:hover {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: $s-size;
  }
}

.button {
  background-color: $light-green;
  border: none;
  border-radius: 3px;
  color: white;
  padding: $s-size $m-size;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: $font-size-default;
  width: auto;

  &:hover {
    background-color: lighten($light-green, 7%);
  }

  &:disabled {
    background-color: darken($light-green, 30%);
  }

  &--shadow {
    @include shadow;
  }

  &--red {
    background-color: $light-red;

    &:hover {
      background-color: lighten($light-red, 10%);
    }

    &:disabled {
      background-color: darken($light-red, 30%);
    }
  }

  a {
    font-weight: 400;
  }
}
