.header {
  position: relative;
  background-color: white;
  border-bottom: 1px solid $light-grey-2;
  width: 100%;
  padding-top: $l-size;
  padding-bottom: $l-size;

  &__content {
    @include content-container;

    &--dashboard {
      @include dashboard-content-container;

      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    // This centering junk is necessary because of position absolute
    left: 0;
    right: 0;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    text-decoration: none;
    color: white;

    // Dashboard
    &--text {
      @media (max-width: $mobile-breakpoint) {
        display: none;
      }
    }
  }

  &--status {
    margin-left: 2rem;
    @media (max-width: $mobile-breakpoint) {
      margin-left: 0;
    }
  }

  h3,
  h4 {
    padding: 0;
  }

  &__left {
    display: flex;
  }

  &__right a {
    font-weight: 300;

    &:not(:last-child) {
      margin-right: 2rem;
      @media (max-width: $desktop-breakpoint) {
        margin-right: 1rem;
      }
    }
  }

  * {
    color: $dark-grey;
  }

  &--transparent {
    position: absolute;
    background-color: transparent;
    border: none;

    *,
    a:visited {
      color: white;
    }
  }
}
