.icon-container, .icon-container a {
	display: flex;
  align-items: center;
}

.icon--large {
	width: 3rem;
	height: 3rem;
	margin-right: $s-size;
}

.icon--small {
	width: 2rem;
	height: 2rem;
	margin-right: $s-size;
}