.login {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;

  @media (min-width: $login-box-breakpoint) {
    background-color: inherit;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__box {
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    padding: $l-size;
    width: 100%;
    height: auto;

    @media (min-width: $login-box-breakpoint) {
      @include shadow;
      padding: $l-size;
      width: $login-box-width;
      height: auto;
    }

    &--subtitle {
      padding: $l-size 0;
    }

    &--subtitle {
      font-weight: 300;
    }
  }

  .button-container {
    display: flex !important;
  }
  .button {
    width: 100%;
    margin-top: $s-size;
    text-transform: none;
    padding: $m-size $s-size;
  }
}
