.popup-container {
	position: fixed;
	background-color: rgba(black, 0.3);
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	background-color: white;
	border: 1px solid $light-grey-2;
	border-radius: 3px;
	padding: 2rem;
	margin: 2rem 0;
	overflow: auto;
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	height: auto;
	text-align: center;

	&--small {
		width: 25rem;
	}
}
