.resume-container {
	// max-height: calc(84.2rem * #{$resume-scale});
	height: calc(84.2rem * #{$resume-scale});
	width: calc(59.5rem * #{$resume-scale});
	background-color: white;
	overflow: hidden;

	&--tiny {
		height: 15rem;
		padding: none;
		margin: auto;
		overflow: hidden;

		@media (min-width: 56rem) {
			height: 20rem;
		}
	}
}

.resume {
	background-color: white;
	overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;

	&__body {
		// flex: 1;
		height: 100%;
		display: flex;
	}

	&--tiny {
		transform: scale(0.51 / $resume-scale);
		@media (min-width: 56rem) {
			transform: scale(0.68 / $resume-scale);
		}
		transform-origin: top left;

		// COMMENT OUT THIS LINE TO DISABLE SCROLLING IN RESUME PREVIEW
		height: calc(30rem * #{$resume-scale});
	}

	h1 {
		font-size: calc(3rem * #{$resume-scale});
	}

	h2 {
		font-size: calc(2rem * #{$resume-scale});
	}

	h3 {
		font-size: calc(1.5rem * #{$resume-scale});
	}

	h4 {
		font-size: calc(1.2rem * #{$resume-scale});
	}

	p,
	i,
	a {
		margin: 0;
		font-size: calc(1rem * #{$resume-scale});
	}

	&__category--name,
	&__item--title {
		margin-top: 0;
		margin-bottom: 0;
		display: flex;
	}

	&--action {
		cursor: pointer;
		display: inline-flex;
		line-height: 1 !important;
		margin: 0 !important;
		padding: 0 !important;
		font-style: italic;
	}

	&--action[disabled] > i {
		color: lighten($light-grey-3, 10%);
	}

	&--hoverable {
		// Remove weird effect where after 'transform: scale' the left pixel column is cut off
		// padding-left: 1px;

		@include hover;
	}

	&__container {
		padding: calc(#{$l-size} * #{#{$resume-scale}});

		&--left {
			// float: left;
		}

		&--right {
			// float: right;
		}
	}

	&__header {
		&--name {
			font-weight: 400;
		}

		&--job-title {
			font-weight: 400;
		}
	}

	&__category {
		&--name {
			margin-bottom: calc(#{$xs-size} * #{$resume-scale});

			// @include hover;
		}

		border-radius: 3px;
		// border: 1px solid transparent;

		&--hoverable:hover {
			// border: 1px solid $light-grey-2;
		}

		// Specific categories
		&--title-and-value {
			display: flex;
			flex-direction: column;
			margin-bottom: calc((#{$font-size-default} - #{$xs-size}) * #{$resume-scale});
		}

		// Actions separator
		.separator {
			display: inline;
			margin: 0 calc(#{$xs-size} * #{$resume-scale});
		}
	}

	&__item {
		position: relative;
		padding-bottom: calc(#{$font-size-default} * #{$resume-scale});

		&--title {
			font-weight: bold;
		}

		&--location {
			font-weight: 300;
		}

		&--date {
			font-style: italic;
			color: grey;
		}

		// Specific items
		&--title-and-value {
			background-color: red;
			color: white;
			display: inline-flex;
			padding: calc(#{$xs-size} * #{$resume-scale});
			margin: 0 calc(#{$xs-size} * #{$resume-scale}) calc(#{$xs-size} * #{$resume-scale}) 0;
			border-radius: 5px;
			width: auto;

			h3 {
				font-size: calc(1.2rem * #{$resume-scale});
			}
		}
	}
}
