.resume-parent {
  min-height: calc(84.2rem * #{$resume-scale});
  width: calc(59.5rem * #{$resume-scale});
  background-color: white;

  &--tiny {
    height: 15rem;
    padding: none;
    margin: auto;
    overflow: hidden;

    @media (min-width: $desktop-breakpoint) {
      min-height: 20rem;
      max-height: 20rem !important;
      height: 20rem;
    }
  }
}

.resume {
  @include bullet;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  width: 100%;

  &__header {
    &--name {
      font-weight: 400;
    }

    &--job-title {
      font-weight: 400;
    }

    &--bio {
      margin: 0;
    }
  }

  &__body {
    height: 100%;
    display: flex;
  }

  &--tiny {
    transform: scale(0.51 / $resume-scale);
    @media (min-width: $desktop-breakpoint) {
      transform: scale(0.68 / $resume-scale);
    }
    transform-origin: top left;

    height: calc(30rem * #{$resume-scale});
  }

  h1 {
    font-size: calc(2.5rem * #{$resume-scale});
  }

  h3 {
    font-size: calc(1.2rem * #{$resume-scale});
  }

  h4 {
    font-size: calc(1rem * #{$resume-scale});
  }

  p,
  i,
  a,
  li {
    margin: 0;
  }

  * {
    line-height: 1.2;
  }

  &--action {
    font-size: calc(0.8rem * #{$resume-scale});
    cursor: pointer;
    display: inline-flex;
    line-height: 0;
    margin: 0;
    padding: 0;
    font-style: italic;
    color: blue;

    &--large {
      font-size: $font-size-default;
    }
  }

  &--action[disabled] > i {
    color: lighten($light-grey-3, 10%);
  }

  &--hoverable {
    // Remove weird effect where after 'transform: scale' the left pixel column is cut off
    // padding-left: 1px;

    @include hover;
  }

  &__container {
    // overflow: hidden;
    padding: calc(#{$m-size} * #{#{$resume-scale}});

    &--small {
      padding: calc(#{$m-size} * #{#{$resume-scale}})
        calc(#{$s-size} * #{#{$resume-scale}});
    }
  }

  &__category {
    position: relative;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: inherit;

    &--name {
      margin-bottom: calc(#{$xs-size} * #{$resume-scale});
    }

    &--hoverable:hover {
      border: 1px solid $light-grey-2;
      background-color: inherit;
      // Create extra space, except at the bottom
      margin: -#{$hover-margin} -#{$hover-margin} 0 -#{$hover-margin};
      padding: $hover-margin $hover-margin 0 $hover-margin;
      border-radius: 0;
      z-index: 2;
      box-shadow: 0px 0px 10px 1px rgba(white, 0.75);
    }

    // Specific categories
    &--title-without-value {
      flex-direction: column;
      margin-bottom: calc(
        (#{$font-size-default} - #{$xs-size}) * #{$resume-scale}
      );
    }
  }

  &__item {
    position: relative;
    padding-bottom: calc(#{$s-size} * #{$resume-scale});
    line-height: 1;

    &--date,
    &--description,
    &--description-only {
      display: flex;
    }

    &--title {
      font-weight: bold;
      display: inline-flex;
    }

    &--location {
      font-weight: 300;
    }

    &--date {
      font-style: italic;
      color: grey;
    }

    // Store actions
    &--action-container {
      line-height: 0;
    }

    &--value {
      text-align: right;
      display: block;

      &--title {
        margin: 0;
      }
    }

    // Single circle in value items (eg. Skills)
    &--value-box {
      position: relative;
      display: inline-flex;
      margin-left: 0.25rem;
      width: 0.8rem;
      height: 0.8rem;
      background-color: $dark-grey;
      border-radius: 0.8rem;

      &--colored {
        background-color: grey;
      }
    }

    // Specific items
    &--title-without-value {
      background-color: $dark-grey;
      color: white;
      display: inline-flex;
      padding: calc(#{$xs-size} * #{$resume-scale});
      margin: 0 calc(#{$xs-size} * #{$resume-scale})
        calc(#{$xs-size} * #{$resume-scale}) 0;
      border-radius: 5px;
      width: auto;

      h4 {
        font-size: calc(1rem * #{$resume-scale});
      }
    }
  }

  &__contact-info {
    &--item {
      padding-bottom: calc(#{$s-size} * #{$resume-scale});
    }

    &--body {
      margin: 0;
    }
  }

  &__actions {
    position: absolute;
    margin-top: -2rem;
  }
}
