.resume-preview {
  border: 1px solid $light-grey-2;
  border-radius: 3px;
  margin-bottom: $m-size;
  display: flex;
  overflow: hidden;
  background-color: $light-grey;
  max-height: 15rem;
  @media (min-width: $desktop-breakpoint) {
    max-height: 20rem;
  }

  @media (max-width: $tablet-breakpoint) {
    background-color: white;
  }

  // HEAD = the resume preview
  &__head {
    overflow: hidden;
    display: inline-block;
    border-right: 1px solid $light-grey-2;
    height: 20rem !important;

    // Don't show preview on mobile
    @media (max-width: $tablet-breakpoint) {
      display: none;
    }

    // Small size
    min-width: 30.375rem;
    max-width: 30.375rem;

    // Large size
    @media (min-width: $desktop-breakpoint) {
      min-width: 40.5rem;
      max-width: 40.5rem;
    }

    // Resume title
    &--title {
      margin: 0.75rem $s-size;
    }
  }

  // BODY = some relevant resume contents and actions
  &__body {
    padding: $m-size;
    flex-grow: 1;
    overflow-y: scroll; // Scroll if too much content

    display: flex;
    align-items: center;

    &--job-title {
      font-weight: 300;
    }

    // BODY actions
    footer {
      margin-top: $s-size;

      a {
        color: $light-grey-3;
        text-transform: uppercase;
        font-size: 1.4rem;

        &:hover {
          text-decoration: underline;
          opacity: 1;
        }
      }
    }
  }
}
