.template {
	background-color: $light-grey;
	border: 1px solid $light-grey-2;
	width: 30%;
	border-radius: 5px;
	overflow: hidden;
	@include hover;
	display: inline-block;

	&:not(:nth-child(3n)) {
		margin-right: 5%;
	}

	&--title {
		margin: 1rem;
		margin-top: .5rem;
	}

	&--img {
		width: 100%;
	}

	&--selected {
		background-color: $light-green;
		color: white;
	}
}