/* html {
  font-size: 14px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 20px;
  padding-bottom: 10px;
	border-bottom: 1px solid #333;
	color: red;
}

p {
  line-height: 18px;
}

.resume__category--name, .resume__contact-info--icon {
  color: rgb(220, 90, 45);
} */

@page { margin: 0; }

/* General styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
	font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

/* General resume styles */
.resume {
  background-color: white;
  overflow: auto;
	font-family: Helvetica, Arial, sans-serif;
}
.resume p {
  margin: 0;
}
.resume__container {
  padding: 2rem;
}
.resume__header--name {
  font-weight: 400;
}
.resume__header--job-title {
  color: grey;
  font-weight: 400;
}
.resume__contact-info {
  background-color: #eff0f1;
  padding: 0.5rem;
}
.resume__contact-info__content {
  display: flex;
  justify-content: space-evenly;
}
.resume__contact-info--item {
  position: relative;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.resume__contact-info--icon {
  padding-right: 0.5rem;
  margin-top: -0.5rem;
}
.resume__category--name {
  text-transform: uppercase;
}
.resume__item {
  position: relative;
}
.resume__item--title {
  font-weight: bold;
}
.resume__item--location {
  font-weight: 300;
}
.resume__item--date {
  font-style: italic;
  color: grey;
}